body {
    background-color: #edf6e5;
    margin: 0px;
  }
  h1 {
    font-family: ruthie;
    font-size: 80px;
    color: #f38ba0;
  }
  #preamble{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10%;
    
  }
  h2 {
    display: flex;
    text-align: center;
  }
  #registration {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #root{
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  #container-login{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column ;
    border-radius: 10%;
    border: medium solid #B5EAEA;
    width: 80%;
    height: 200%;  
    padding: 10px 15px;
     
  }

  #boton-registrar, #boton-registrarInicial, #boton-ingresar, #boton-google {
    background: #ffbcbc;
    color: #837C7C;
    width: 78%;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    margin-top: 1.5%;
    border: none;
  }
  
  #name,
  #email,
  #password {
    background: #dcd7d7;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    border:none;
    margin-top: 1.5%;
    border-radius: 5%;
  }

  